
.sidebar{
    position:fixed;
    left: 20px;
}



.sidebar a.icon{
    position:fixed;
    width: 43px;
    height: 43px;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:2px;

    transition: all 0.3s ease-in;

    border: solid 2px rgba(215, 215, 215, 0); 

    cursor: pointer;
    
}

.sidebar a.icon:hover{
    border: solid 1px rgba(215, 215, 215, 1);
    
}

.sidebar a.icon:hover .img-bg{
    opacity:1;
}

.img-bg{
    position:relative;
    width: 35px;
    height: 35px;
    border-radius:50%;
    

    display:flex;
    justify-content:center;
    align-items:center;

    background-color: var(--medgrey);
    opacity:0.7;

    transition: all 0.5s ease-in-out;
}



.sidebar a.record{
    position:fixed;
    left: 20px;
    bottom:20px;

    opacity:1;

}

.sidebar a.record .img-bg{
    background-color: transparent
}

.linkedin img, .insta img{
    max-width:55%;
}

.mail img, .back img{
    max-width:70%;
}


.sidebar a.insta{
    top:30%;
}

.sidebar a.linkedin{
    top:35%;
    margin-top:15px;
}

.sidebar div.mailbar{
    position:fixed; 

    top:50%;


    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

    background-color: transparent;
}

.mailbar span.line{
    border-radius:none;
    height:150px;
    width:3px;

    position:relative;
    background-color: var(--medgrey);
    margin-bottom: 20px;
}

.mailbar a.mail{
    position:relative;
    padding:2px;
    transform:rotate(-30deg);
    /* border: solid 1px rgba(67, 66, 66, 0); */
    transition: all 0.5s ease-in-out
}

.mailbar a.mail:hover{
    transform:rotate(30deg);
    /* border: solid 1px rgba(67, 66, 66, 1); */
}

.mailbar a.mail .img-bg{
    opacity:0.8;
}

.sidebar .mailbar{
    top:65%
}






