body {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	
	background-color: #ffffff;
	color: var(--grey);
}

a{
	color:var(--grey);
	text-decoration:none;

}

h1 {
	font-size: 44px;
	font-weight: 600;
	white-space:nowrap;
}

h2{
	font-size:24px;
	font-weight:600;
	white-space: nowrap;
}
li{
	font-size:18px;
	margin-bottom: 15px;
}
ul{
	margin-bottom:60px;
}

canvas{
	z-index:-1;
	vertical-align:bottom;

	position:absolute;

	top:13%;
	left: 40%;

}











/* sidebar styles */


.sidebar{
    position:fixed;
	left: 20px;
	
	z-index:20;
}



.sidebar a.icon{
    position:fixed;
    width: 43px;
    height: 43px;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:2px;

    transition: all 0.3s ease-in;

    border: solid 2px rgba(215, 215, 215, 0); 

    cursor: pointer;
    
}

.sidebar a.icon:hover{
    border: solid 1px rgba(215, 215, 215, 1);
    
}

.sidebar a.icon:hover .img-bg{
    opacity:1;
}

.img-bg{
    position:relative;
    width: 35px;
    height: 35px;
    border-radius:50%;
    

    display:flex;
    justify-content:center;
    align-items:center;

    background-color: var(--medgrey);
    opacity:0.7;

    transition: all 0.5s ease-in-out;
}



.sidebar a.record{
    position:fixed;
    left: 20px;
    bottom:20px;

    opacity:1;

}

.sidebar a.record .img-bg{
    background-color: transparent
}

.linkedin img, .insta img{
    max-width:55%;
}

.mail img, .back img{
    max-width:70%;
}


.sidebar a.insta{
    top:30%;
}

.sidebar a.linkedin{
    top:35%;
    margin-top:15px;
}

.sidebar div.mailbar{
    position:fixed; 

    top:50%;


    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

    background-color: transparent;
}

.mailbar span.line{
    border-radius:none;
    height:150px;
    width:3px;

    position:relative;
    background-color: var(--medgrey);
    margin-bottom: 20px;
}

.mailbar a.mail{
    position:relative;
    padding:2px;
    transform:rotate(-30deg);
    /* border: solid 1px rgba(67, 66, 66, 0); */
    transition: all 0.5s ease-in-out
}

.mailbar a.mail:hover{
    transform:rotate(30deg);
    /* border: solid 1px rgba(67, 66, 66, 1); */
}

.mailbar a.mail .img-bg{
    opacity:0.8;
}

.sidebar .mailbar{
    top:65%
}
















/* INDEX STYLES */



section.hero{
	height:100vh;
	width:100vw;

	display:flex;
	align-items:center;
	justify-content:center;
	align-content: center;


}

.hero-sentence{
	display:flex;
	flex-direction:column;
	max-width:650px;
}

.line{
	width:100%;
	margin-bottom: 25px;

	display:flex;
	flex-direction:row;
	align-content: center;
	align-items:center;
	justify-content:center;
}

.line h1{
	font-size: 48px;
	font-weight:600;
	color: var(--grey);

	white-space: nowrap;

	text-align:center;
}

.mobile-only{
	display:none;
}

.desktop-only{
	display:block;
}

div.slot{
	position: relative;
	background-color:var(--lightgrey);
	width: 330px;
	height:52px;
	margin-left: 30px;
	margin-right:30px;

	font-size: 42px;
	font-weight:600;

	display:flex;
	flex-direction:column;
	justify-content: center;

	overflow-y:hidden; 

}

div.shortslot{
	margin-right:0;
	width: 250px;
}

span.words{
	font-size: 42px;
	font-weight:600;
	text-align:center;

	white-space: nowrap;

	width:100%;

	transition: transform 0.3s ease;

	color: var(--grey);

}

span.name{
	cursor:default;
}


div.arrow{
	width:40px;
	height:21px;
	display:block;
	margin-bottom: 15px;

	cursor:pointer;
}

div.downarrow img{
	transform:rotate(180deg);
	margin-bottom: 0;
	margin-top: 15px;
}

div.tag-arrow{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}


div.svg.wave-small{
	height:20px;
	width:120px;
	position:absolute;
	top:0;
	left:0;
	margin-left:0;
}


svg.wave.wave-name{
	width:123px;
	height:20px;
}

.wave-name path{
	stroke: var(--green);
	stroke-width:7px;
}


div.name-wave{
	top:380px;
	left:398.7px;
	width:103.25px;
}

.pronounce{
	color:var(--green);
	font-weight: 600;

	position:absolute;
	top:270px;
	left:357.43px;
	opacity:0;

	transition:all 0.3s ease;
	transform:translate(0,0);
}

.pronounce.visible{
	opacity:1;
	transform:translate(0, -10px);
}


/*CONTAINER STYLES*/



div.container{
	max-width: 1000px;
	padding:0 60px;
	margin:0 auto;
	overflow: hidden;
}

.about{
	position: relative;
	height:100vh;
	width:100%

}

.sentence{
	max-width: 30vw;
	font-size: 36px;
	position:relative;
	top: 40%;
	left:40%;

	text-align:center;

}

.projects div.info{
	font-size: 14px;
	font-weight:600;

}

.project-container{
	position:relative;
	margin-top: 100px;
}

div.card-l  .tile-container{
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content: flex-start;
	text-align:right;
}

.tile-info{
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content: flex-start;
	text-align:right;

	transition:all 0.3s ease;
}

.tile-container .tile-info:hover{
	transform: translateX(10px);
}

.card-r .tile-info:hover{
	transform: translateX(-10px);
}


div.card-r  .tile-container{
	display:flex;
	align-items:flex-start;
	justify-content: flex-end;
	flex-direction:row;
	text-align:right;
}






.card-r .rotate{
	writing-mode: vertical-rl;
	text-orientation:sideways;
	transform:rotate(180deg)
}

.card-l .rotate{
	writing-mode: vertical-rl;
	text-orientation:sideways;
}

.project-title{
	position: absolute;
	font-size: 32px;
	font-weight: 600;
	top:80%;
	left:30%;

	cursor: default;

	text-shadow: 2px 2px 3px rgb(67, 66, 66, 0.3);

	transition: all 0.3s; 
}


.card-r .project-title{
	top:80%;
	left:50%;
}

.project-container .tile-container .tile{
	width: 320px;
	height:320px; 
	background-color: var(--yellow);
}




.mflabs .tile-container .tile{
	background-color: var(--pink);
}
.pay-interns .tile-container .tile{
	background-color: var(--green);
}
.superhi .tile-container .tile{
	background-color: var(--blue);
}






.project-list{
	width:80%;
	margin-bottom:20px;
}

.section-divider{
	margin-bottom:70px;

	display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}


.cv{
	margin-top: 80px;
}

.cv-title{
	margin-bottom: 30px;

	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: flex-start;
	width:100%;
}
.cv-line{
	display:block;
	background-color:var(--grey);
	width:100%;
	height:3px;
	margin-left: 20px;
}


.columns{
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:space-between;
}

.column{
	width:50%;
}
.column:nth-child(1n){
	padding-right:15px;
}
.column:nth-child(2n){
	padding-left:15px;
}

.contact-text{
	color: var(--grey);
	padding: 15px;
	padding-left:20px;
	border: 2px solid var(--grey);
}

.cv-socials{
	display:flex;
	flex-direction:row;

	display:flex;
	align-items: center;
	justify-content: center;
	align-content: center;

	padding-top: 20px;
	padding-bottom:20px;
}

.cv-social-icon{
	height:40px;
	width:40px;
	background-color:var(--grey);
	border-radius:50%;

	margin-right: 40px;

	display:flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.cv-social-icon:last-child{
	margin-right: 0;
}

.cv-social-icon .socials-img{
	max-width:50%;
	max-height:50%;
}


.sketchbook-button{
	border: 4px solid var(--yellow);
	padding: 50px 20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	
	cursor:pointer;
	transition: all 0.5s ease-in-out;

	margin-top: 50px;
}
.sketchbook-button:hover{
	background-color:var(--yellow)
}


/* CARDS CSS */ 

.cards{
	padding-top: 160px;
	width:100%;
	height:100vh;
	position:relative;
}

.cards .section-divider{
	z-index:-1;
	margin-bottom:0
}

.cards .section-divider{
	justify-content:center;
}

.card-container{
	position:relative;
	overflow:hidden;

	height:90%;
	width:100%;
	top:0;
	left:50%;
	transform:translateX(-50%);

	/* THIS IS HERE TO ALLOW CARDS MORE MOVEMENT*/
	padding-bottom:5vh;
}

.goal-card{
	width:400px;
	height:300px;

	border-radius: 36px;
	background-color: var(--yellow);

	display:flex;
	align-items:center;
	justify-content:center;
	
	padding: 30px 0;

	position:absolute;
	top: 0;
	/*left:50%; */
	/*transform:translateX(-50%);*/


	color:var(--brown);

	cursor:pointer;
}

.goal-card span{
	text-align: center;
	max-width:60%;

	font-weight: 600;
	font-size:18px;
}

.card-1{
	z-index:2;
	top: 0px;
}

.card-2{
	background-color: var(--blue);

	top:30px;
	z-index:3;
}



.card-3{
	background-color:var(--pink);
	z-index:4;
	top:60px;
}

.card-4{
	background-color:var(--green);
	color:var(--brown);
	z-index:5;
	top:90px;
}

.under-text{
	position:absolute;
	top: 320px;
	font-weight:600; 
	text-align:center;

	width:100%
}









.contact{
	position: relative;
	overflow: hidden;
	/*margin-top: 5%; */
	margin-bottom:60px;
}

.contact-main{
	padding-top:300px;
	font-weight:600;
}
.email-link{
	margin-top: 100px;
}

.socials{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;

	margin-top: 80px;
}

.social-icon{
	background-color:var(--grey);
	border-radius:20%;
	height: 45px;
	width:45px;

	margin-right:80px;

	display:flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.socials-img{
	max-width:70%;
	max-height:70%;
}

.end-line{
	width:100%;
	
	font-size: 30px;
	font-weight: 600;

	margin-top:100px;
	margin-bottom:30px;

}



div.svg{
	margin-left:30px;
	width:100%;
	overflow: hidden;
}

svg.wave{
	width:800px;
	height:66px;
}

path{
	stroke: var(--pink);
	stroke-width:12px;
	stroke-linecap:round;
	fill:none;
}

div.svg-contact{
	position: absolute;
	width:100%;
	overflow: hidden;
	margin-left:0px;

	top: 5%;
}

svg.wave-contact{
	width:1600px;
}

.wave-contact path{
	stroke: var(--green);
}

























/* MEDIA OVERLAY AND WIPER*/


.media-overlay{
	display:none;
}


.wiper{
	position:fixed;
	top:0;
	left:0;
	background-color:var(--blue);
	width:100vw;
	height:100vh;

	z-index:900;

	display:flex;
	align-items:center;
	justify-content:center;

	transform:translate(-100%,0)

}







/* Project styles */


div.project-container{
    overflow: visible;
}


.project-hero{
    margin-top: 30px;
    max-height: 100vh;
    margin-bottom: 120px;
}
.project-page-header{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.project-container .section-divider{
    margin-bottom: 40px;
}



.project-page-header div.svg{
    margin-left:0;
    margin-top: 10px;
}

.project-page-header svg.wave{
    width:100%
}

.project-page-header.blue .svg .wave path{
    stroke: var(--blue);
}

.project-page-header.yellow .svg .wave path{
    stroke: var(--yellow);
}


.project-page-header.pink .svg .wave path{
    stroke: var(--pink);
}

.project-page-header.green .svg .wave path{
    stroke: var(--green);
}


.main-img{
    margin-top: 60px;

    position:relative;

    background-color: var(--blue);

    max-width:100%;
    max-height:60vh;

    overflow: hidden;
}




.main-img.yellow{
    background-color: var(--yellow);
}

.main-img.pink{
    background-color: var(--pink);
}

img.project-main {
    width:100%;

    position:relative;
    bottom:0;
    left:0;
}

.project-info{
    margin-bottom:150px;
    position: relative;
}


.courses-content, .project-info-cols{
    display:flex;
    flex-direction:row;
    align-items: stretch;
    justify-content:space-between;
}


.info-right{
    position: relative;
}

.info-left{
    overflow:visible;
}

.sticky-square{

    background-color:var(--lightgrey);
    padding: 20px 40px;

    display:block;
    position: sticky;
    position:-webkit-sticky;

    top: 30px;
}

.info-role{
    margin-top:30px;
}

.sticky-square .title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:600;
}

.sticky-square p{
    font-size:18px;
    margin-top:10px;
}

.sticky-square li{
    margin-bottom:5px;
}

.sticky-square ul{
    margin-bottom:0;
}

.info-left{
    width: 60%;

}

.info-goal{
    margin-top:50px;
}


.gallery{
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 10px; */ 

    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

    margin-bottom:70px;
    
}

.gallery-site{
    max-height:260px;
    width:30%;
    background-color:var(--blue);
    margin-bottom:30px;
    margin-left:1.5%;
    margin-right:1.5%;
    
}

.gallery-site a{
    width: 100%;
    height: 100%;
}

.gallery-site img{
    width: 100%;
    height: 100%;
 }









.course-col{
    width:50%;
}

.course-title{
    white-space: nowrap;
}

.course-col:first-child{
    
    padding-right:70px;
}
.course-col:nth-child(2n){
    padding-left:60px;
}

.course-list li{
    margin-bottom:10px;
}

.full-img-text{
    margin-bottom: 70px;
}

.full-width-img{
    width:100%;
    max-height:60vh;

    margin-bottom: 50px;

    background-color:var(--yellow);
}

.half-img-text{
    margin-top: 30px;
    margin-bottom:30px;
}



.half-img-text .content{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;

    width:100%;

}

.half-img-test.payinterns .content{
    align-items:center;
    justify-content:center;
}




.half-width-img{
    background-color:var(--yellow);
    margin-right:20px;

    width:40%;
}

.half-img-text.payinterns .half-width-img{
    background-color:transparent;
}


.half-width-img img{
    width:100%;
}



.half-width-text{
    padding-left:20px;
    padding-top:20px;

    width:50%
}

.full-img{

    height: 100vh;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

    margin-bottom: 60px;
}

.full-img .img-frame{
    width:75vw;
    max-height:70vh;

    /* position:absolute; */

    background-color: var(--yellow)


}





.back-next{
    width:100%;
    margin-bottom: 50px;
    margin-top: 100px;
}

.back-next.both{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}




.back-next.right-only{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
    align-content:center;
}

.back-next .next{
    text-align:end;
}


.back-next .text-container{
    position: relative;
    width: 150px;
    overflow:hidden;
}

.back-next .next .text-container{
    text-align: end;
}

.text-container.datalabs{
    width: 160px;
}

.text-container.mflabs{
    width: 140px;
}

.text-container.payinterns{
    width: 170px;
}


.back-next  span{
    display:inline;
    font-size: 14px;
    text-transform: uppercase;

    letter-spacing: 1.5px;
    
}


.back-next .title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: none;

    letter-spacing: normal;
}

.previous .arrow-container {
    width:150px;
    display:inline-block;
    position: absolute;
    top:7px;
    margin-left: 8px;
    padding-left: 2px;

    z-index: 4;
    background-color: #fff;

    transition: transform 0.3s ease;
}



.next .arrow-container{
    width:150px;
    display:inline-block;
    position: absolute;
    top:7px;
    left: -90%;

    z-index: 4;

    background-color: #fff;
    
    transition: transform 0.3s ease;
}

.previous .arrow-container.datalabs{
    left: 70%;
}


.next .arrow-container.datalabs{
    left:-70%;
}

.next .arrow-container.payinterns{
    left:-75%;
}

.next .arrow-container.superhi{
    left:-75%;
}

.next .arrow-container.mflabs{
    left: -78%;
}
.next .arrow-container.superhi{
    left: -75%;
}




footer.project-footer{
    position:relative;

    width:100vw;
    background-color: var(--lightgrey);
	

    display:flex;
    align-items:center;
    align-content:center;
    justify-content:center;

    z-index: 100;
}


.footer-container{
    width: 1000px;
    height:100%;
    padding: 40px 0;

    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:flex-end;
    align-content:center;
}



footer .email{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}

.footer-intouch{
    font-size: 18px;
	font-weight:600;
	margin-bottom: 30px;
}

a.footer-mail{
    font-size: 32px;
    font-weight:600;
}

.footer-socials{
    padding-bottom:0;
}














/* SKETCHBOOK STYLES */

div.sketchbook-container{
	margin-top: 30px;
}

div.page{
    background-color: var(--yellow);
    width:100%;
    margin-bottom:100px;

    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

}

.page img{
    width:100%;
    height:100%;
}


@media (max-width:1200px){
	.full-img{
		height:fit-content;
		max-height: 100vh;
    	min-height: 40vh;
    	margin-top: 60px;
	}

	.footer-container {
		padding: 40px 40px;
		max-width:100vw;
	}


}

@media(max-width: 600px){
    .media-overlay{
        display:none;
        justify-content:center;
        align-items: center;


        width:100%;
        height:100%;
        position:fixed;

        padding-left: 50px;
        padding-right:50px;

        top:0;
        left:0;

        z-index: 400;

        background-color: var(--green);

    }

    .media-overlay span{
        font-size: 32px;
        color: #fff;
        font-weight:600;
        text-align: center;
	}

	.mobile-invisible{
		display:none;
	}

	h1{
		font-size:24px;
	}

	li{
		font-size:16px;
	}

	ul{
		margin-bottom:40px;
	}

	h2{
		font-size:20px;
	}

	path{
		stroke-width: 8px;
	}

	div.container{
		padding:0 50px;
	}

	.sidebar, .sidebar a.record{
		left:9px;
	}

	.sidebar a.icon{
		width: 29px;
		height:29px;
	}

	.img-bg{
		width:100%;
		height:100%;
	}

	.pronounce{
		font-size: 12px;
	}
    
	.hero-sentence{
		max-width:200px;
		
	}

	.line{
		flex-direction:column;
		margin-bottom:0;
	}
	
	.line h1{
		font-size:24px;
	}

	.line1 .herotext{
		margin-bottom:20px
	}

	.line3{
		flex-direction:row;
		margin-top:30;
	}

	.mobile-only {
		display:block;
	}

	span.mobile-only{
		display:inline-block;
	}

	.desktop-only{
		display:none;
	}

	div.svg.wave-small{
		height: 6px;
	}

	.wave-name path{
		stroke-width: 3px;
	}


	div.arrow{
		width: 35px;
		height:20px;
	}

	div.slot{
		height: 32px;
		width:195px;
		margin:0;

	}

	div.shortslot{
		width:125px;
	}


	span.words{
		font-size:24px;
	}

	/* PROJECTS SECTION */
	.section-divider{
		margin-bottom: 54px;
	}

	.project-container .tile-container .tile{
		width:184px;
		height:170px;
	}
	.project-title{
		font-size:24px;
		white-space: nowrap;
		left:35%;
		text-shadow:none;
	}

	.card-r .project-title {
		top: 80%;
		left: 15%;
	}

	.projects div.info{
		display:none;
	}





	/* RESUME STYLES */ 

	.cv .section-divider {
		margin-bottom:  60px;
		flex-direction: column;
	}

	.cv div.svg{
		position:absolute;
		width: 100%;
		margin-left: 0;

	}

	.cv div.svg svg.wave {
		width: 100%;
		position:relative;
		left: -5px;
		margin-top: 30px;
	}

	.columns{
		flex-direction:column;
	}

	.column{
		width:100%;
	}

	.column:nth-child(2n) {
		padding-left: 0px;
	}
	

	.cv-title.projects{
		display:none;
	}

	ul.project-list{
		display:none;
	}
	
	.contact-text{
		font-size:14px;
		text-align:center;
		padding: 7px;
		padding-left:7px;
	}

	.cv-socials{
		padding-top: 12px;
		padding-bottom:12px;
	}
	.cv-social-icon{
		height:32px;
		width:32px;
	}
	.cv-social-icon .socials-img {
		max-width: 55%;
		max-height: 55%;
		padding:0;
	}

	.sketchbook-button{
		padding:20px 10px;
		border: 2px solid var(--yellow);
	}
	.sketchbook-button h2{
		font-size:18px;
	}


	/* CARDS */ 

	.cards{
		height: 90vh;
		padding-top: 50px;
	}

	.card-container{
		top: -60px;
		height: 100%;
	}

	.cards .section-title{
		font-size: 22px;
		white-space: normal;
		text-align: center;
		margin-left: 10%;
		margin-right: 10%;
	}

	.goal-card{
		width: 230px;
    	height: 175px;
    	border-radius: 25px;
	}

	.goal-card span{
		font-size:16px;
	}



	/* LAST SECTION */

	
	div.svg-contact {
		width: 110%;
		left: -5px;
	}

	.contact-main{
		padding-top:120px;
	}

	.contact-main h1{
		margin-bottom: 50px;
	}

	.social-icon{
		margin-right: 22px;
		width: 30px;
		height: 30px;
	}

	.email-link{
		margin-top:40px;
	}

	.end-line{
		font-size: 20px;
		margin-top:40px;
		margin-bottom:0;
	}

	.socials-img{
		max-width:30px;
		max-height:30px;
		padding:5px;
	}
	.contact canvas{
		top: 20%;
    	left: 30%;
	}

	/* PROJECT PAGES */

	.project-hero{
		margin-bottom: 60px;
	}

	.project-hero .main-img{
		margin-top: 30px;
	}

	.info-left{
		width: 100%;
	}
	.info-right{
		display:none;
	}

	.project-info{
		margin-bottom: 30px;
	}


	.half-img-text .content{ 
		flex-direction:column;
	}
	.half-width-img{
		width: 100%;
	}

	.half-width-text{
		width:100%;
	}

	.full-img{
		margin-top: 30px;
		min-height:  10vh;
	}

	.gallery{
		margin-bottom: 30px;
	}

	.back-next span{
		font-size: 12px;
	}

	.back-next .title{
		font-size: 18px;
	}

	.previous .arrow-container, .next .arrow-container{
		display:none;
	}

	.back-next{
		margin-top: 50px;
	}

	.footer-container{
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}

	.footer-intouch{
		font-size: 14px;
	}

	a.footer-mail{
		font-size: 20px;
	}

	.project-footer .cv-socials{ 
		justify-content: flex-start;
		padding-top : 30px;
	}

	.courses-content{
		flex-direction: column;
	}

	.course-col{
		width: 100%
	}

	.course-col:nth-child(2n){
		padding-left: 0;
	}
	.course-col:first-child {
		padding-right: 0px;
	}

	.course-col .course-title h2{
		font-size:16px;
	}



	/* SKETCHBOOK STYLES */

	div.page{
		margin-bottom: 40px;
	}

}


@media (max-width: 369px){
	h1{
		font-size: 20px;
    	white-space: normal;
    	text-align: left;
	}
	.project-title{
		font-size: 18px;
	}
	.project-container .tile-container .tile {
		width: 144px;
		height: 135px;
	}
	li {
		font-size: 14px;
	}
	.cv-socials {
		padding-left: 2px;
		padding-right: 4px;
	}

	.sketchbook-button h2 {
		font-size: 14px;
	}

	.end-line{
		font-size: 16px;
	}

	.contact-main h1 {
		text-align: left;
		margin-bottom: 20px;
	}

	h2.email-link, .contact-main p{
		font-size: 14px;
	}

	.contact{
		margin-bottom: 30px;
	}




	/* project styles */

	p.info-text{
		font-size: 14px;
	}

	.back-next span {
		font-size: 10px;
	}

	.back-next .text-container, .text-container.text-container.datalabs{
		width: 90px;
	}

	.back-next .previous span{
		display: inline-block;
		max-width: 60px;
	}


	.projects .section-divider {
		margin-bottom: 0px;
	}

	.projects .project-container.mflabs{
		margin-top: 70px;
	}

	/* goal cards */

	.goal-card{
		width: 170px;
    	height: 145px;
	}
	.goal-card span {
		font-size: 14px;
	}

	.under-text{
		top: 250px;
		left: 50%;
		font-size: 14px;
		max-width: 150px;

		transform: translateX(-50%);

	}


}