@media(max-width: 600px){
    .media-overlay{
        display:none;
        justify-content:center;
        align-items: center;


        width:100%;
        height:100%;
        position:fixed;

        padding-left: 50px;
        padding-right:50px;

        top:0;
        left:0;

        z-index: 400;

        background-color: var(--green);

    }

    .media-overlay span{
        font-size: 32px;
        color: #fff;
        font-weight:600;
        text-align: center;
    }

    body{
        overflow: hidden;
    }

    main{
        display: none;
    }

}